html, body {
  margin: 0;
  padding: 0;
}

body {
  /* This is a font-stack that tries to use the system-default sans-serifs first */
  font-family: Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.theme-light body {
  background-color: #fff;
}

.theme-dark body {
  background-color: #111;
}

bible-tools-app {
  --article-gallery-display: flex;
  --article-gallery-item-flex: auto;
  --article-gallery-item-margin: 0;

  --bible-tools-single-verse-text-verse-vertical-align: middle;
}

.theme-light bible-tools-app {
  background-color: #fff;

  --drawer-scrim-background: rgba(0, 0, 0, 0.8);
  --mdc-theme-text-primary-on-background: #111;
  --mdc-theme-secondary: #111;
  --mdc-radio-unchecked-color: #111;
  --paper-dropdown-menu-color: #000;
  --paper-dropdown-menu-focused-color: #000;
  --paper-listbox-background-color: rgba(255, 255, 255, 0.99);
  --primary-background-color: #fff;
  --primary-color: #000;
  --primary-foreground-color: #111;
  --primary-text-color: #111;
  --secondary-text-color: #000;
  --text-color: #111;

  --bible-tools-chapter-navigator-click-target-color: #111;
  --bible-tools-chapter-navigator-click-target-background-color: #fff;
  --bible-tools-drawer-container-background-color: #fff;
  --bible-tools-drawer-header-background-color: #fff;
  --bible-tools-drawer-header-color: #111;
  --bible-tools-single-chapter-range-reference-color: #111;
  --bible-tools-single-verse-color: #111;
  --bible-tools-single-verse-reference-color: #111;
  --bible-tools-single-verse-text-color: #111;
  --bible-tools-single-verse-text-verse-color: #111;
}

.theme-dark bible-tools-app {
  background-color: #111;

  --drawer-scrim-background: rgba(0, 0, 0, 0.8);
  --mdc-theme-text-primary-on-dark: #000;
  --mdc-theme-text-primary-on-background: #fff;
  --mdc-theme-secondary: #fff;
  --mdc-radio-unchecked-color: #fff;
  --paper-dropdown-menu-color: #fff;
  --paper-dropdown-menu-focused-color: #fff;
  --paper-listbox-background-color: rgba(0, 0, 0, 0.99);
  --primary-background-color: #111;
  --primary-color: #fff;
  --primary-foreground-color: #fff;
  --primary-text-color: #fff;
  --secondary-text-color: #fff;
  --text-color: #fff;

  --bible-tools-chapter-navigator-click-target-color: #fff;
  --bible-tools-chapter-navigator-click-target-background-color: #111;
  --bible-tools-drawer-container-background-color: #000;
  --bible-tools-drawer-header-background-color: #111;
  --bible-tools-drawer-header-color: #fff;
  --bible-tools-single-chapter-range-reference-color: #fff;
  --bible-tools-single-verse-text-color: #fff;
  --bible-tools-single-verse-text-verse-color: #fff;
  --bible-tools-single-verse-color: #fff;
  --bible-tools-single-verse-reference-color: #fff;
}
